{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
<div class="new_location form_container">
    <h1>Créer un lieu</h1>
    <div class="new_location_content">
        {{ form_start(form) }}
        {{ form_row(form.nom) }}
        {{ form_row(form.rue) }}
        <div class="town_div">
            {{ form_row(form.ville) }}
            <a href="{{ path('app_create_ville', { backToLieu: true }) }}" class="button button_secondary">
                + Créer une nouvelle ville
            </a>
        </div>
        {{ form_row(form.enregistrer) }}
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}
