{% extends 'base.html.twig' %}

{% block body %}

    <div class="main_container main_container_index">
        {% include '_partials/name-and-date.html.twig' %}

        <form method="get" id="filters" class="sorties_filters" data-ajax-list
              data-target="#sorties_list"
              data-delay="200">
            <h2 class="sorties_title">Filtrer les sorties</h2>
            <fieldset class="sorties_fieldset">
                <label class="sorties_label">
                    Site:
                    <select class="sorties_select" name="site" onchange="this.form.submit()">
                        <option class="sorties_option" value="">Tous les sites</option>
                        {% for site in sites %}
                            <option class="sorties_option" value="{{ site.id }}" {{ filters.site == site.id ? 'selected' : '' }}>
                                {{ site.nom }}
                            </option>
                        {% endfor %}
                    </select>
                </label>

                <label class="sorties_label">
                    Filtrer:
                    <input class="sorties_input" type="text" name="query" data-autosubmit="350" placeholder="search">
                </label>
            </fieldset>

            <fieldset class="sorties_fieldset">
                <label class="sorties_label">
                    Entre:
                    <input class="sorties_input" type="date" name="from" value="{{ filters.from }}" onchange="this.form.submit()">
                </label>

                <label class="sorties_label">
                    Et:
                    <input class="sorties_input" type="date" name="to" value="{{ filters.to }}" onchange="this.form.submit()">
                </label>
            </fieldset>


                    <fieldset class="sorties_fieldset sorties_fieldset-checkbox">
                        <label class="sorties_label-checkbox">
                            <input class="sorties_checkbox" type="checkbox" name="passees" onchange="this.form.submit()" value="1" {{ filters.passees ? 'checked' : '' }}>
                            Sorties passées
                        </label>
                        {% if app.user %}
                        <label class="sorties_label-checkbox">
                            <input class="sorties_checkbox" type="checkbox" name="organisees" onchange="this.form.submit()" value="1" {{ filters.organisees ? 'checked' : '' }}>
                            Sorties que j'organise
                        </label>

                    </fieldset>

                    <fieldset class="sorties_fieldset">
                        <label class="sorties_label-radio">
                            <input class="sorties_radio" type="radio" name="prevues" onchange="this.form.submit()" value="1" {% if filters.prevues is defined and filters.prevues =='1' %}checked{% endif %}>
                            Sorties auxquelles je participe
                        </label>

                        <label class="sorties_label-radio">
                            <input class="sorties_radio" type="radio" name="prevues" onchange="this.form.submit()" value="0" {% if filters.prevues is defined and filters.prevues == '0' %}checked{% endif %}>
                            Sorties auxquelles je ne participe pas
                        </label>

                        <label class="sorties_label-radio">
                            <input class="sorties_radio" type="radio" name="prevues" onchange="this.form.submit()" value="" {% if filters.prevues is not defined or filters.prevues is same as('') %}checked{% endif %}>
                            Toutes les sorties
                        </label>
                    </fieldset>
                {% else %}
                    </fieldset>
                {% endif %}

            <div class="sorties_buttons">
                <a href="/" class="button_primary" >Réinitialiser</a>
            </div>
        </form>
        <div class="table_area" id="sorties_list">
            {% include 'sortie/_table.html.twig' %}
        </div>
        <div class="all_events_tiles">
            {% for sortie in sorties %}
                <div class="event_tile">
                    <h2>{{ sortie.nom }}</h2>
                    <div class="event_content">
                        <div><img src="{{asset('icons/date.svg')}}" alt="date"> Date de la sortie : <span>  {{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</span></div>
                        <div><img src="{{asset('icons/cloture.svg')}}" alt="cloture"> Clôture : <span>{{ sortie.dateLimiteInscription | date('d/m/Y') }}</span></div>
                        <div>
                                <img src="{{ asset('icons/inscrits.svg') }}" alt="image">
                            Inscrits/places : <span>{{ sortie.nbParticipants }}/{{ sortie.nbInscriptionsMax }}</span></div>
                        <div><img src="{{ asset('icons/etat.svg') }}" alt="image">Etat : <span>{{ sortie.etat.libelle }}</span></div>
                        <div><img src="{{ asset('icons/participant.svg') }}" alt="image">Inscrit : <span>{% if app.user and sortie.isInscrit(app.user) %}
                                    Oui
                                {% else %}
                                    Non
                                {% endif %}</span>
                        </div>
                        <div><img src="{{ asset('icons/utilisateur.svg') }}" alt="image"> Organisateur :&nbsp;
                            <a href="{{ path('app_utilisateur', {id: sortie.organisateur.id}) }}">
                                <span>{{ sortie.organisateur.prenomEtInitiale }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="buttons">
                        {% include '_partials/actions.html.twig' %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
