{% extends 'base.html.twig' %}

{% block body %}

    <div class="main_container main_container_index">
        {% if app.user %}
            <div class="name_and_date">
                <p>Date du jour: {{ "now" | date("d/m/Y ") }}</p>
                <p>Participant: {{ app.user.pseudo }}</p>
            </div>
        {% endif %}
        <form method="get" id="filters">
            <h2 class="filtre_title">Filtrer les sorties</h2>
            <div class="form_filters">
                <label class="filtre_label">
                    Site:
                    <select name="site" onchange="this.form.submit()">
                        <option value="">Tous les sites</option>
                        {% for site in sites %}
                            <option value="{{ site.id }}" {{ filters.site == site.id ? 'selected' : '' }}>
                                {{ site.nom }}
                            </option>
                        {% endfor %}
                    </select>
                </label>

                <label class="filtre_label">
                    Filtrer:
                    <input type="text" name="query" value="{{ filters.query }}" placeholder="search">
                </label>
            </div>

            <div class="form_filters">
                <label class="filtre_label">
                    Entre:
                    <input type="date" name="from" value="{{ filters.from }}" onchange="this.form.submit()">
                </label>

                <label class="filtre_label">
                    Et:
                    <input type="date" name="to" value="{{ filters.to }}" onchange="this.form.submit()">
                </label>
            </div>

            <div class="form_filters">
                {% if app.user %}
                    <fieldset>
                        <label class="filtre_label_right">
                            <input type="checkbox" name="organisees" onchange="this.form.submit()" value="1" {{ filters.organisees ? 'checked' : '' }}>
                            Sorties que j'organise
                        </label>
                        <label class="filtre_label_right">
                            <input type="checkbox" name="passees" onchange="this.form.submit()" value="1" {{ filters.passees ? 'checked' : '' }}>
                            Sorties passées
                        </label>
                    </fieldset>

                    <fieldset>
                        <label class="filtre_label_right">
                            <input type="radio" name="prevues" onchange="this.form.submit()" value="" {% if filters.prevues is not defined or filters.prevues is same as('') %}checked{% endif %}>
                            Toutes les sorties
                        </label>

                        <label class="filtre_label_right">
                            <input type="radio" name="prevues" onchange="this.form.submit()" value="1" {% if filters.prevues is defined and filters.prevues =='1' %}checked{% endif %}>
                            Sorties auxquelles je participe
                        </label>

                        <label class="filtre_label_right">
                            <input type="radio" name="prevues" onchange="this.form.submit()" value="0" {% if filters.prevues is defined and filters.prevues == '0' %}checked{% endif %}>
                            Sorties auxquelles je ne participe pas
                        </label>
                    </fieldset>
                {% else %}
                    <label class="filtre_label_right">
                        <input type="checkbox" name="passees" onchange="this.form.submit()" value="1" {{ filters.passees ? 'checked' : '' }}>
                        Sorties passées
                    </label>
                {% endif %}
            </div>

            <div class="form_buttons">
                <a href="/">Réinitialiser</a>
                <a class="button_create" href="{{  path('app_home') }}">Créer une sortie</a>
            </div>
        </form>
        <div class="table_area">
            <table class="all_events_table">
                <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits/places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        {% if app.user %}
                            <th>Actions</th>
                        {% endif %}
                    </tr>
                </thead>
                <tbody>
                    {% for sortie in sorties %}
                        <tr>
                            <td class="nom_sortie">{{ sortie.nom }}</td>
                            <td>{{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</td>
                            <td>{{ sortie.dateLimiteInscription | date('d/m/Y') }}</td>
                            <td>{{ sortie.nbParticipants }}/{{ sortie.nbInscriptionsMax }}</td>
                            <td>{{ sortie.etat.libelle }}</td>
                            <td>{% if app.user and sortie.isInscrit(app.user) %}
                                    x
                                {% endif %}
                            </td>
                            <td>
                                <a class="sortie_link" href="{{ path('app_utilisateur', {id: sortie.organisateur.id}) }}">
                                    {{ sortie.organisateur.prenomEtInitiale }}
                                </a>
                            </td>
                            {% if app.user %}
                                <td>
                                    {%  include '_partials/actions.html.twig' %}
                                </td>
                            {% endif %}
                            <td class="row_link">
                                <a class="cover-link" href="{{ path('app_sortie_show', {id: sortie.id}) }}" title="Afficher la sortie">
                                </a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="8" class="text-center">Aucune sortie trouvée</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="all_events_tiles">
            {% for sortie in sorties %}
                <div class="event_tile">
                    <h2>{{ sortie.nom }}</h2>
                    <div class="event_content">
                        <div><img src="{{asset('icons/date.svg')}}" alt="date"> Date de la sortie : <span>  {{ sortie.dateHeureDebut | date('d/m/Y H:i') }}</span></div>
                        <div><img src="{{asset('icons/cloture.svg')}}" alt="cloture"> Clôture : <span>{{ sortie.dateLimiteInscription | date('d/m/Y') }}</span></div>
                        <div>
                                <img src="{{ asset('icons/inscrits.svg') }}" alt="image">
                            Inscrits/places : <span>{{ sortie.nbParticipants }}/{{ sortie.nbInscriptionsMax }}</span></div>
                        <div><img src="{{ asset('icons/etat.svg') }}" alt="image">Etat : <span>{{ sortie.etat.libelle }}</span></div>
                        <div><img src="{{ asset('icons/participant.svg') }}" alt="image">Inscrit : <span>{% if app.user and sortie.isInscrit(app.user) %}
                                    Oui
                                {% else %}
                                    Non
                                {% endif %}</span>
                        </div>
                        <div><img src="{{ asset('icons/utilisateur.svg') }}" alt="image"> Organisateur :&nbsp;
                            <a href="{{ path('app_utilisateur', {id: sortie.organisateur.id}) }}">
                                <span>{{ sortie.organisateur.prenomEtInitiale }}</span>
                            </a>
                        </div>
                    </div>
                    <div class="buttons">
                        <button class="button_primary">Action 1</button>
                        <button class="button_secondary">Action 2</button>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}
