<div class="table_area">
    <table class="sorties-table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Téléphone</th>
                <th>Actif</th>
                <th>Pseudo</th>
                <th>Désactiver</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td> {{ user.email }}</td>
                    <td> {{ user.prenom }}</td>
                    <td> {{ user.nom }}</td>
                    <td> {{ user.telephone }}</td>
                    <td> {{ user.actif ? 'oui' : 'non' }}</td>
                    <td> {{ user.pseudo }}</td>
                    <td>
                        {%  if user.actif %}
                            <a class="sortie_link" href="{{ path('app_desactivate_user', {id:user.id}) }}">Désactiver</a>
                            {% else %}
                            <span>Utilisateur désactivé</span>
                        {%  endif %}</td>
                    <td> <a class="sortie_link" href="{{ path('app_delete_user', {id:user.id}) }}">Supprimer</a></td>
                    <td class="table_row-link">
                        <a href="{{ path('app_utilisateur', {id:user.id}) }}" class="table_cover-link" aria-label="Voir l'utilisateur" title="Cliquer pour voir l'utilisateur"></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
