{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="users_container">
        <h1>Liste des utilisateurs</h1>


    <table class="border-2 border-black all_events_table">
        <thead>
            <tr>
                <th>Email</th>
                <th>Prénom</th>
                <th>Nom</th>
                <th>Téléphone</th>
                <th>Actif</th>
                <th>Pseudo</th>
                <th>Désactiver</th>
                <th>Supprimer</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td> {{ user.email }}</td>
                    <td> {{ user.prenom }}</td>
                    <td> {{ user.nom }}</td>
                    <td> {{ user.telephone }}</td>
                    <td> {{ user.actif ? 'oui' : 'non' }}</td>
                    <td> {{ user.pseudo }}</td>
                    <td>
                        {%  if user.actif %}
                            <a class="link" href="{{ path('app_desactivate_user', {id:user.id}) }}">Désactiver</a>
                            {% else %}
                            <span>Utilisateur désactivé</span>
                        {%  endif %}</td>
                    <td> <a class="link" href="{{ path('app_delete_user', {id:user.id}) }}">Supprimer</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}
