{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
    <div class="main_container profile form_container">
        <h2>Mon profil</h2>
        {{ form_start(utilisateurForm) }}
        <div>
            {% if utilisateurForm.vars.value.photo != null %}
                <img src="{{ asset(app_images_profil_directory ~ '/' ~ utilisateurForm.vars.value.photo ) }}" alt="image">
            {% else %}
                <img src="{{asset('images/placeholder_img.jpg')}}" alt="profil">
            {% endif %}
        </div>
        <div class="grid">
            <label class="ville_label">
                Pseudo
                {{ form_widget(utilisateurForm.pseudo, {'attr': {'class': 'ville_input' }}) }}
                {{ form_errors(utilisateurForm.pseudo) }}
            </label>
            <label class="ville_label">
                Prenom
                {{ form_widget(utilisateurForm.prenom, {'attr': {'class': 'ville_input' }}) }}
            </label>
            <label class="ville_label">
                Nom
                {{ form_widget(utilisateurForm.nom, {'attr': {'class': 'ville_input' }}) }}
            </label>
            <label class="ville_label">
                Telephone
                {{ form_widget(utilisateurForm.telephone, {'attr': {'class': 'ville_input' }}) }}
                {{ form_errors(utilisateurForm.telephone) }}
            </label>
            <label class="ville_label">
                Email
                {{ form_widget(utilisateurForm.email, {'attr': {'class': 'ville_input' }}) }}
                {{ form_errors(utilisateurForm.email) }}
            </label>
            <label class="ville_label">
                Mot de passe
                {{ form_widget(utilisateurForm.password, {'attr': {'class': 'ville_input' }}) }}
                {{ form_errors(utilisateurForm.password) }}
            </label>
            <label class="ville_label">
                Site
                {{ form_widget(utilisateurForm.site, {'attr': {'class': 'ville_input' }}) }}
            </label>
            <label class="ville_label">
                Confirmation du mot de passe
                {{ form_widget(utilisateurForm.passwordConfirmation, {'attr': {'class': 'ville_input' }}) }}
            </label>
            <label class="ville_label">
                Photo
                {{ form_widget(utilisateurForm.photo, {'attr': {'class': 'ville_input' }}) }}
            </label>
            {{ form_widget(utilisateurForm._token) }}
            <div class="buttons edit_buttons">
                <button class="button_primary" type="submit">Enregistrer</button>
                <a href="{{ path('app_home') }}" class=" button button_secondary">Annuler</a>
            </div>
        </div>
        {{ form_end(utilisateurForm, {'render_rest': false})}}
    </div>
{% endblock %}
