{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}

<div class="main_container profile">
    <h1>{{ utilisateur.pseudo }}</h1>
    <div>
        {% if utilisateur.photo != null %}
            <img src="{{ asset(app_images_profil_directory ~ '/' ~ utilisateur.photo ) }}" alt="profil">
        {% else %}
            <img src="{{asset('images/placeholder_img.jpg')}}" alt="profil">
        {% endif %}
    </div>
    <div class="user_info">
        <div>
            Prénom : <span>{{ utilisateur.prenom }}</span>
        </div>
        <div>
            Nom : <span>{{ utilisateur.nom }}</span>
        </div>
        <div>
            Téléphone : <span>{{ utilisateur.telephone }}</span>
        </div>
        <div>
            Email : <span>{{ utilisateur.email}}</span>
        </div>
        <div>
            Site de rattachement : <span>{{utilisateur.site.nom}}</span>
        </div>
    </div>
        <a class="button button_primary return_button" href="{{ app.request.headers.get('referer') ?: path('app_home') }}">Retour</a>
</div>
{% endblock %}
