{% extends 'base.html.twig' %}

{% block title %}Hello UtilisateurController!{% endblock %}

{% block body %}

<div class="profile">
    <h1>{{ utilisateur.pseudo }}</h1>
    <div>
        {% if utilisateur.photo != null %}
            <img src="{{ asset(app_images_profil_directory ~ '/' ~ utilisateur.photo ) }}" alt="image">
        {% endif %}
    </div>
    <div class="user_info">
        <div>
            Prénom : <span>{{ utilisateur.prenom }}</span>
        </div>
        <div>
            Nom : <span>{{ utilisateur.nom }}</span>
        </div>
        <div>
            Téléphone : <span>{{ utilisateur.telephone }}</span>
        </div>
        <div>
            Email : <span>{{ utilisateur.email}}</span>
        </div>
        <div>
            Site de rattachement : <span>{{utilisateur.site.nom}}</span>
        </div>
    </div>
</div>
{% endblock %}
