{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="new_event form_container">
        <h2>Modifier une sortie</h2>
        <div class="event_creation">
            {{ form_start(form, {attr: {'id': "creation_sortie"}}) }}
            <label class="ville_label">
                Nom de la sortie
                {{ form_widget(form.nom, { 'attr': { 'class': 'ville_input'}}) }}
            </label>
            <label class="ville_label">
                Date et heure de la sortie
                {{ form_widget(form.dateHeureDebut, { 'attr': { 'class': 'ville_input'}}) }}
            </label>
            <label class="ville_label">
                Date de clotûre des inscriptions
                {{ form_widget(form.dateLimiteInscription, { 'attr': { 'class': 'ville_input'}}) }}
            </label>
            <label class="ville_label">
                Nombre de places
                {{ form_widget(form.nbInscriptionsMax, { 'attr': { 'class': 'ville_input'}}) }}
            </label>
            <label class="ville_label label_duree">
                Durée de la sortie
                {{ form_widget(form.duree, { 'attr': { 'class': 'ville_input'}}) }}
            </label>
            <label class="ville_label">
                Description et infos
                {{ form_widget(form.infosSortie, { 'attr': { 'class': 'ville_input'}}) }}
            </label>
            <label class="ville_label">
                Campus organisateur
                {{ form_widget(form.site, { 'attr': { 'class': 'ville_input'}}) }}
            </label>
            <div class="location_div">
                <label class="ville_label label_lieu">
                    Lieu
                    {{ form_widget(form.lieu, { 'attr': { 'class': 'ville_input'}}) }}
                </label>
                <a href="{{ path('app_lieu', { backToSortie: true }) }}" class="link_add_lieu" title="Créer un lieu" aria-label="Créer un lieu">
                    <svg viewBox="0 0 24 24" aria-hidden="true">
                        <path d="M12 5v14M5 12h14" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round"/>
                    </svg>
                </a>
            </div>

            <div class="location_details">
                <h3 class="details_title">Détails du lieu :</h3>
                <div class="flex">
                    {{ form_row(form.rue) }}
                    {{ form_row(form.codePostal) }}
                    {{ form_row(form.ville) }}
                </div>
                <div class="flex">
                    {{ form_row(form.latitude) }}
                    {{ form_row(form.longitude) }}
                </div>
            </div>
            <div class="buttons">
                {{ form_row(form.enregistrer) }}
                {{ form_row(form.publier) }}
                <a class="button button_secondary" href="{{ path('app_home') }}">Annuler</a>
            </div>
            {{ form_widget(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}

        </div>
    </div>
{% endblock %}