{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block body %}
    <div class="form_container">
        <h1>Modifier la sortie</h1>
        <div class="event_edition">
            {{ form_start(form) }}
            {{ form_row(form.nom) }}
            {{ form_row(form.dateHeureDebut) }}
            {{ form_row(form.dateLimiteInscription) }}
            {{ form_row(form.nbInscriptionsMax) }}
            {{ form_row(form.duree) }}
            {{ form_row(form.infosSortie) }}
            {{ form_row(form.site) }}
            <div class="location_div">
                {{ form_row(form.lieu) }}
                <a href="{{ path('app_lieu', { backToSortie: true }) }}" class="button button_secondary" style="margin-left: 10px;">
                    + Créer un nouveau lieu
                </a>
            </div>
            <h2>Détails du lieu</h2>
            <div class="location_details">
                <div class="flex flex-3">
                    {{ form_row(form.rue) }}
                    {{ form_row(form.codePostal) }}
                    {{ form_row(form.ville) }}
                </div>
                <div class="flex flex-2">
                    {{ form_row(form.latitude) }}
                    {{ form_row(form.longitude) }}
                </div>
            </div>
            {{ form_row(form.enregistrer) }}
            {{ form_widget(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}
