{% extends 'base.html.twig' %}

{% block title %}Hello SortieController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<h1>detail sortie</h1>
<div>
      <ul>
          <li><Strong>ID:</Strong> {{ sortie.id }}</li>
          <li><Strong>nom:</Strong> {{ sortie.nom }}</li>
          <li><Strong>date heure debut:</Strong> {{ sortie.dateHeureDebut ? sortie.dateHeureDebut|date('d-m-Y H:i') : 'No date' }}</li>
          <li><Strong>duree</Strong>
              {%set duree = sortie.duree%}
              {% if duree > 60 %}
                {% set hours = (duree // 60) %}
                  {% set minutes = (duree % 60) %}
                  {{ hours }} heures{{ hours > 1 ? 's' : '' }}{% if minutes > 0 %} {{ minutes }} minute{{ minutes > 1 ? 's' : '' }}{% endif %}
              {% else %}
                  {{ duree }} minutes
              {% endif %}
          </li>
          <li><Strong>date limite inscription:</Strong> {{ sortie.dateLimiteInscription ? sortie.dateLimiteInscription|date('d-m-Y') : 'No date' }}</li>
          <li><Strong>nombre maximum d'inscrit:</Strong> {{ sortie.nbInscriptionsMax }}</li>
          <li><Strong>info sortie:</Strong> {{ sortie.infosSortie }}</li>
          <li><Strong>etat:</Strong> {{ sortie.etat.libelle }}</li>
          <li><Strong>ville organisatrice:</Strong> {{ sortie.site.nom }}</li>
          <table class="border border-gray-300">
              <thead class="bg-gray-50">
                <tr>
                    <th class="border border-gray-300">pseudo</th>
                    <th class="border border-gray-300">Nom</th>
                </tr>
              </thead>
              <tbody class="divide-gray-200">
                {% for user in sortie.participants %}
                    <tr>
                        <td class="border border-gray-300">{{ user.pseudo }}</td>
                        <td class="border border-gray-300">{{ user.Prenom }} {{ user.nom }}</td>
                    </tr>
                {% endfor %}
              </tbody>
          </table>
        <a href="{{ path('app_sortie_register', {id: sortie.id}) }}">
            participer a cette sortie
        </a>

      </ul>
</div>
{% endblock %}
