{% extends 'base.html.twig' %}

{% block title %} | Se connecter{% endblock %}

{% block body %}
    <div class="login_form form_container">
        <form method="post">
            <h2>Connexion</h2>
            <div class="login_content">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="login_info_container">
                        Vous êtes connecté avec l'adresse {{ app.user.userIdentifier }}.<br/>
                        <div class="buttons">
                            <a class="button button_primary" href="{{ path('app_logout') }}">Se déconnecter</a>
                        </div>
                    </div>
                {% else %}
                <label class="ville_label" for="username">
                    Mail
                    <input class="ville_input" type="text" value="{{ last_username }}" name="_username" id="username autocomplete="email" required autofocus>
                </label>
                <label class="ville_label" for="password">
                    Mot de passe
                    <input class="ville_input" type="password" name="_password" id="password"  autocomplete="current-password" required>
                </label>
                 <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
                <div class="login_remember">
                    <label for="_remember_me">
                        <input class="sorties_checkbox" type="checkbox" name="_remember_me" id="_remember_me">
                        Se souvenir de moi
                    </label>
                    <a href="{{path('app_forgot_password_request')}}"class="link">Mot de passe oublié</a>
                </div>
                <div class="buttons">
                    <button class="button_primary" type="submit">
                        Connexion
                    </button>
                </div>
                {% endif %}
            </div>
        </form>
    </div>
{% endblock %}
