{% extends 'base.html.twig' %}

{% block title %} | Se connecter{% endblock %}

{% block body %}
    <div class="login_form form_container">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            {% if app.user %}
                <div class="mb-3">
                    Vous êtes connecté avec l'adresse {{ app.user.userIdentifier }}.<br/> <a class="link" href="{{ path('app_logout') }}">Se déconnecter</a>
                </div>
            {% endif %}

            <h1>Connexion</h1>
            <div class="login_content">
                <label for="username">Mail</label>
                <input type="text" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
                <label for="password">Mot de passe</label>
                <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
                <div class="checkbox mb-3">
                    <input type="checkbox" name="_remember_me" id="_remember_me">
                    <label for="_remember_me">Se souvenir de moi</label>
                </div>
                <a href="{{path('app_forgot_password_request')}}"class="link">Mot de passe oublié</a>
                <div class="buttons">
                    <button class="button_primary" type="submit">
                        Connexion
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
